<div about="/commission/commissioners/content/commissioner-schinas-and-commissioner-johansson-meet-mr-kaminski-minister-interior-and_en" class="listing__item__wrapper node node-activities node-teaser view-mode-teaser" typeof="sioc:Item foaf:Document">
    <div class="listing__column-second">
    <div class="field field-name-field-start-end-date field--field-start-end-date"><div class="field__items"><div class="date-block">
    <span class="date-block__day-text">Mon</span>
    <span class="date-block__day">03</span>
    <span class="date-block__month">Feb</span>
    </div>
    </div></div> </div>
    <div class="listing__column-main">
    <div class="meta group-agenda-meta field-group-html-element"><span class="meta__item"><div class="addressfield-container-inline locality-block country-PL"><span class="locality">Warsaw</span></div><span class="country">Poland</span></span></div><h3 class="listing__title">Commissioner Schinas and Commissioner Johansson meet with Mr Kamiński, Minister of the Interior and Administration Ms Johansson in Warsaw, Poland: meets with Mr Fabrice Leggeri, Executive Director of Frontex</h3><div class="listing__author">Margaritis Schinas, Ylva Johansson</div> </div>
</div